<p id="notice"><%= notice %></p>

<h1>Listing People</h1>

<% @people.each do |person| %>
  <p><%= link_to "#{person.first_name} #{person.last_name}", person_path(person) %></p>
  <%= image_tag person.thumb_image %>
<% end %>

<br>

<%= link_to 'New Person', new_person_path %>
<%= link_to "Event Tracker", event_tracker_path %>
<%= link_to "Home", root_path %>





