<p id="notice"><%= notice %></p>

<h1>Listing Events</h1>

<% @events.each do |event| %>
  <p><%= link_to event.title, event_path(event) %></p>
  <%= image_tag event.thumb_image %>
<% end %>


<br>

<%= link_to 'New Event', new_event_path %>
<%= link_to "Event Tracker", event_tracker_path %>
<%= link_to "Home", root_path %>

